In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [20]:
city_data_df = pd.read_csv("C:/Users/andre/Documents/Analysis_Projects/World_Weather_Analysis/weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Teya,RU,2021-10-03 01:12:08,60.3778,92.6267,35.31,92,100,1.86
1,1,Ekuvukeni,ZA,2021-10-03 01:19:06,-28.4675,30.1551,58.21,78,100,2.89
2,2,Hasaki,JP,2021-10-03 01:10:28,35.7333,140.8333,75.60,67,0,14.61
3,3,Albany,US,2021-10-03 01:15:16,42.6001,-73.9662,62.80,87,23,3.58
4,4,Mataura,NZ,2021-10-03 01:19:06,-46.1927,168.8643,55.47,68,100,2.04
...,...,...,...,...,...,...,...,...,...,...
550,550,Victor Harbor,AU,2021-10-03 01:21:13,-35.5667,138.6167,62.47,85,91,3.00
551,551,Wajir,KE,2021-10-03 01:12:11,1.7471,40.0573,75.16,67,91,10.65
552,552,Witu,KE,2021-10-03 01:21:13,-2.3889,40.4382,75.36,88,100,7.09
553,553,Asmar,AF,2021-10-03 01:21:14,35.0333,71.3581,69.40,70,0,5.19
554,554,Deloraine,AU,2021-10-03 01:21:14,-41.5333,146.6667,65.70,65,12,1.01

In [21]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [22]:
gmaps.configure(api_key = g_key)
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hasaki,JP,2021-10-03 01:10:28,35.7333,140.8333,75.60,67,0,14.61
5,5,Lompoc,US,2021-10-03 01:19:07,34.6391,-120.4579,85.14,85,1,10.36
17,17,Gondanglegi,ID,2021-10-03 01:19:10,-7.7479,112.0132,81.79,62,23,14.05
19,19,Vila Velha,BR,2021-10-03 01:19:01,-20.3297,-40.2925,78.75,78,75,11.50
24,24,Kapaa,US,2021-10-03 01:19:11,22.0752,-159.3190,84.18,68,90,1.99
35,35,Atuona,PF,2021-10-03 01:19:14,-9.8000,-139.0333,78.19,74,6,20.69
46,46,Semporna,MY,2021-10-03 01:19:16,4.4818,118.6112,82.60,69,98,1.16
48,48,Jardim,BR,2021-10-03 01:17:40,-21.4803,-56.1381,78.73,63,0,5.03
53,53,Salalah,OM,2021-10-03 01:19:18,17.0151,54.0924,80.69,89,75,9.22
55,55,Natal,BR,2021-10-03 01:15:08,-5.7950,-35.2094,75.85,88,20,3.44

In [30]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2        Hasaki      JP     75.60  35.7333  140.8333
5        Lompoc      US     85.14  34.6391 -120.4579
17  Gondanglegi      ID     81.79  -7.7479  112.0132
19   Vila Velha      BR     78.75 -20.3297  -40.2925
24        Kapaa      US     84.18  22.0752 -159.3190
35       Atuona      PF     78.19  -9.8000 -139.0333
46     Semporna      MY     82.60   4.4818  118.6112
48       Jardim      BR     78.73 -21.4803  -56.1381
53      Salalah      OM     80.69  17.0151   54.0924
55        Natal      BR     75.85  -5.7950  -35.2094

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [44]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))